build/
/build32
/docker/valgrind/output
/codelite
bld/
bldsandbox/
/docker/.email_recipients.json
/docker/sources
/docker/runresults
/docker/**/output
/**/.DS_Store
/**/*.pyc

REFPROP.zip
RPbuilds
RPoutputs
report.html
report.csv
